<!DOCTYPE html>
<html>

<head>
    <title>Emails List</title>
</head>

<body
    style="font-family: Arial, sans-serif; background-color: #ADD8E6; display: flex; justify-content: center; align-items: center; height: 100vh;">

    <div
        style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 0 10px rgba(0,0,0,0.1); width: 100%; max-width: 400px; text-align: center;">
        <h1>Devops 2025 - HIT</h1>
        <h1 style="margin-bottom: 24px; color: #333;">Add Email</h1>

        <form method="post">
            <input type="email" name="userEmail" placeholder="Enter your email" required
                style="width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 8px; margin-bottom: 20px; font-size: 16px;">
            <br>
            <button type="submit"
                style="background-color: #007bff; color: white; padding: 12px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">
                Add email
            </button>

            <a href="/emails"
                style="background-color: #007bff; color: white; padding: 12px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer; text-decoration: none; display: inline-block; margin-left: 10px;">
                View Mailing List
            </a>

        </form>

        {% if result is not none %}
        <h2 style="margin-top: 24px; color: green;">Result: {{ result }}</h2>
        {% endif %}

    </div>

</body>

</html>
